<h2>Welcome</h2>

<p>
  Enter search information in the boxes below and click "Search"<br/>
  <% if @restaurants.length > 1 %>
  <br/>
  <b>Resturants found:</b><br/>
  <table border=1>
    <th>Business</th>
    <th>Review Count</th>
    <th>Original Rating</th>
    <th>Weighted Rating</th>
    <% @restaurants.each do |r| %>
    <tr>
      <td><%= "#{r['name']}" %></td>
      <td><%= "#{r['review_count']}" %></td>
      <td><%= "#{r['rating']}" %></td>
      <td><%= "#{((r['rating'] - 2.9) * r['review_count']) + 2.9}" %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
  <br/>
  <%= form_tag("/", method: "get") do %>
    <%= label_tag(:city, "*City:") %>
    <%= text_field_tag 'city', nil, placeholder: 'Philadelphia' %><br/>
    <%= label_tag(:category, "*Category Filter:") %>
    <%= text_field_tag 'category', nil,  placeholder: 'thai' %><br/>
    <%= label_tag(:term, "Search Term:") %>
    <%= text_field_tag 'term', nil, placeholder: 'All' %><br/>
    <%= submit_tag("Search") %>
  <% end %>
</p>
